html, body {
  background: black;
  padding: 0px;
  margin: 0px;
}

main {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
}

#mats-list {
  padding: 8pt;
  position: fixed;
  list-style: none;
  background: wheat;
  right: 4pt;
}

#mats-list > li {
  cursor: pointer;
}

#mat-sel {
  font-weight: bold;
}

canvas {
    margin: auto;
    display: flex;
    background: white;
    width: 100%;
    height: 100vh;
}
