#toolbar {
  color: #1b1b1b;
  height: 36px;
  float: right;
}

#toolbar > div > img {
  cursor: pointer;
}

#toolbar > div > img, #toolbar > article {
  border-radius: 4pt;
  border: 2px solid white;
  background: #cea669;
}

#toolbar > article > div {
  font-weight: bold;
  text-align: center;
}

#toolbar > article {
}

#a_world > ul > li {
  cursor: pointer;
}

#mat-sel, #ent-sel {
  font-weight: bold;
}
 /* Inbventory System */
#a_inv {
  max-width: 140px;
  float: right;
}

#a_inv > ul
{
  margin: auto;
  align-items: center;
  max-width: -webkit-fill-available;
  padding: 6px;
}

#a_inv > ul > li
{
    width: 24px;
    height: 24px;
    padding: 2px;
    border: 2px inset white;
    border-radius: 2px;
    display: inline-grid;
    background: wheat;

}

#a_inv > ul > li > div {
  background-size: contain;
  position: relative;
}

#a_inv > ul > li > div > div {
  font-weight: bold;
  position: absolute;
  font-size: 12px;
  color: #1eff44;
  right: -1px;
  bottom: -4px;
}

#item-sel {
  border: 2px inset lightgreen !important;
}

#item-use {
  border: 2px inset coral !important;
}
