html, body {
  background: black;
  padding: 0px;
  margin: 0px;
}

main {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
}

#lists {
  position: fixed;
  right: 4pt;
}

.edits {
  padding: 8pt;
  list-style: none;
  background: wheat;

}

.edits > li {
  cursor: pointer;
}

#mat-sel, #ent-sel {
  font-weight: bold;
}

canvas {
    margin: auto;
    display: flex;
    background: white;
    width: 100%;
    height: 100vh;
}

#log-window {
  bottom: 0px;
  height: 24vh;
  background: rgba(0, 0, 0, 0.25);
  width: 64vw;
  position: fixed;
  overflow-y: scroll;
  overflow-wrap: normal;
  padding: 4pt;
}
